
table, th, td {
    border: 2px;
}

table {
    width: 100%;
    display: table;
//    border-collapse: collapse;
    border-spacing: 2px;
}

th {
    text-align: center;
    font-size: 1.2rem;
}

td {
    padding: 0 5px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    font-family: "MS Reference Sans Serif", serif;
    font-style: normal;
    font-size: 1.1rem;

}

#numLeft {
    text-align: left;
    font-weight: normal;
}

#numRight {
    text-align: right;
    width: min-content;
    font-weight: bold;
    width: 2%;
}

#menu-brand {
    text-align: right;
    font-family: "MS Reference Sans Serif", serif;
    font-size: 2.1rem;
}