
//@import-normalize;

// Custom.scss
// Вариант Б. Включите части Bootstrap

// 1. Сначала включите функции (чтобы Вы могли управлять цветами, SVG, вычислением и т.д.)
@import "../public/scss/vendors/bootstrap-5.0.2/scss/functions";

// 2. Включите сюда любые переопределения переменных по умолчанию


$line-height-base:            1.5;
$font-size-base:              1rem !default;  // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

// Navbar
// scss-docs-start navbar-variables
$navbar-padding-y:                  0;        //  $spacer(=1rem) / 2 !default;

$navbar-brand-font-size:            $font-size-lg !default;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
//    $font-size-base(=1rem) * $line-height-base(=1.5) + $nav-link-padding-y(=0.5) * 2 !default;
$nav-link-height:                   1.5rem;
//    $navbar-brand-font-size * $line-height-base(=1.5) !default;
$navbar-brand-height:               $navbar-brand-font-size * $line-height-base !default;
// scss-docs-end navbar-variables



// @import "../public/scss/vendors/bootstrap-5.0.2/dist/js/bootstrap.bundle.js";
// Включить весь полный стек импорта
@import "../public/scss/vendors/bootstrap-5.0.2/scss/bootstrap";

// 3. Включите оставшуюся часть необходимых таблиц стилей Bootstrap
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/variables";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/mixins";

// 4. Включите любые дополнительные компоненты Bootstrap, как Вам нравится
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/root";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/reboot";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/type";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/images";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/containers";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/grid";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/nav";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/navbar";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/dropdown";

// 5. Добавьте сюда дополнительный пользовательский код

//.block {
//  background-color: #ddd;
//  border: #aaa;
//  padding: 20px;
//}

*{
  // box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

.wnd-app {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 2px;
  // grid-auto-flow: initial;
  // justify-items: stretch;
}

.wnd-header {
  grid-column: 1/4;
  grid-row: 1;
}

.wnd-footer {
  grid-column: 1/4;
  grid-row: 3;

  background-color: #56747d;
  border: solid 2px  #000;

  padding: 10px;
  margin: 0px 2px 0px 2px;
  text-align: center;
}

.wnd-wrapper{
  background-color: #934b83;
  border: solid 2px  #000;
  margin: 0px 2px 0px 2px;

  display: grid;
  grid-column: 1/4;
  grid-row: auto;

  // grid-gap: 0px;
  // grid-template-columns: 2fr 1fr;
  // align-content: center;
  // grid-gap: 1em;
  // justify-items: start;
  // align-items: stretch;
  // align-content: center;

  // grid-auto-rows: auto;

  // grid-column-gap: 1em;
  // grid-row-gap: 1em;
  // grid-auto-rows: 200px;
}


.wnd-main {
  background-color: #934b83;
  border: solid 2px  #000;
  height: 915px;

  display: grid;
 // grid-column: 1/2;
//  grid-row: 1/2 1/2 ;
//  grid-auto-rows: auto;

 // grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;

}

.wnd-home {
  overflow: auto;

  background-color: #00b0ff;
  border: solid 2px  #000;
  padding: 10px;
  text-align: center;
}

.wnd-param {

  float: right;
  align-self: start;
  background-color: #A5D6A7;
  border: solid 2px  #000;
  padding: 10px;
  text-align: center;
  height: 910px;
}

.form-item {
  float: left;
  align-content: start;
  background-color: #A5D6A7;
  border: solid 2px  #000;
  padding: 10px;
  text-align: left;


  display: grid;
  // grid-column: 1/12;
  //  grid-row: 1/2 1/2 ;
  //  grid-auto-rows: auto;

  // grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 1em;

}

.form-pos {
  float: left;
  align-content: start;
  background-color: #A5F7FF;
  border: solid 1px  #000;
  padding: 4px;
  text-align: left;

}

.wnd-section {
  padding: 1em;
  background-color: #a5c6d6;
  border: solid 1px  #000;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 350px;
}

.wnd-section-2 {
  overflow: auto;
  border: solid 1px  #000;
  text-align: center;
  background-color: #a4e0f5;
  margin-top: 10px;
  height: 160px;
}

.col {
  //background-color: #A5D6A7;
  //border: solid 1px  #000;
  padding: 2px;
  margin: 4px;
}

.name-item {
  text-align: start;
  // background-color: #00b0ff;
  // padding-right: 9rem;
}

.field-item {
  text-align: center;
  background-color: #ff50ff;
}

/*
.row, #wnd-block {
  background-color: #c0ca33;
  border: solid 1px #000;
  text-align: center;
  padding-left: 100px;
}

#wnd-A {
  background-color: #dde0e3;
  border: solid 1px  #000;

  text-align: center;
  padding: 20px;
}

#wnd-B {
  background-color: #00b0ff;
  border: solid 1px  #000;
  padding: 20px;
  text-align: center;
}

#wnd-C {
  background-color: #A5D6A7;
  border: solid 1px  #000;
  padding: 20px;
  text-align: center;
}
*/


.col {
  padding-right: 1px;
  font-weight: bold;
  text-align: right;
}

.navbar-brand {
  margin-right: 4px;
  font-weight: bold;
}
.title-brand {
  text-align: end;

}
.title-menu {
  text-align: left;
//  border: solid 1px  #000;
}

.menu-item {
  font-weight: bold;
  font-style: normal;
  font-min-size: 1.5rem;
  text-align: start;
  // background-color: #A5D6A7;
  // border: solid 1px  #000;
  margin:  2px 2px 2px 2px;
  padding: 2px 2px 2px 2px;
}