
@import-normalize;

// Custom.scss
// Вариант Б. Включите части Bootstrap

// 1. Сначала включите функции (чтобы Вы могли управлять цветами, SVG, вычислением и т.д.)
@import "../public/scss/vendors/bootstrap-5.0.2/scss/functions";

// 2. Включите сюда любые переопределения переменных по умолчанию


$line-height-base:            1.5;
$font-size-base:              1rem !default;  // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

// Navbar
// scss-docs-start navbar-variables
$navbar-padding-y:                  0;        //  $spacer(=1rem) / 2 !default;

$navbar-brand-font-size:            $font-size-lg !default;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
//    $font-size-base(=1rem) * $line-height-base(=1.5) + $nav-link-padding-y(=0.5) * 2 !default;
$nav-link-height:                   1.5rem;
//    $navbar-brand-font-size * $line-height-base(=1.5) !default;
$navbar-brand-height:               $navbar-brand-font-size * $line-height-base !default;
// scss-docs-end navbar-variables



// @import "../public/scss/vendors/bootstrap-5.0.2/dist/js/bootstrap.bundle.js";
// Включить весь полный стек импорта
@import "../public/scss/vendors/bootstrap-5.0.2/scss/bootstrap";

// 3. Включите оставшуюся часть необходимых таблиц стилей Bootstrap
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/variables";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/mixins";

// 4. Включите любые дополнительные компоненты Bootstrap, как Вам нравится
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/root";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/reboot";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/type";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/images";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/containers";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/grid";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/nav";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/navbar";
//@import "../public/scss/vendors/bootstrap-5.0.2/scss/dropdown";

// 5. Добавьте сюда дополнительный пользовательский код

